<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home
                <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav m1-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('design') }}">
                    <i class="fa fa-columns">Design</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('test') }}">
                    <i class="fa fa-database">TestDB</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('portfolio') }}">
                    <i class="fa fa-building">Portfolio</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">
                    <i class="fa fa-mail-reply">Contact</i>
                </a>
            </li>
        </ul>
    </div>
</nav>